@import "../../assets/styles/theme";
@import "../../assets/styles/global";

.notification {
  position: fixed;
  z-index: 500;
  top: -5rem;
  left: 0;
  right: 0;

  margin: @space-large;
  font-size: 1.1rem;
  color: white;
  transition: @transition;
  border-radius: @border-radius-lightly-round;

  &.show {
    top: 0;
  }

  .message {
    text-transform: capitalize;
  }

  &.info {
    background: @color-info;
  }
  &.success {
    background: @color-success;
  }
  &.warning {
    background: @color-warning;
  }
  &.error {
    background: @color-error;
  }
}