@import "../../assets/styles/utils";

.button-group-select {
  &>* {
    border-radius: 0;
  }

  &>*:first-child {
    border-bottom-left-radius: @border-radius-lightly-round;
    border-top-left-radius: $border-bottom-left-radius;
  }

  &>*:last-child {
    border-bottom-right-radius: @border-radius-lightly-round;
    border-top-right-radius: $border-bottom-right-radius;
  }
}