@import "../../assets/styles/space";
@import "../../assets/styles/theme";

.affix {
  position: sticky;
  z-index: 300;

  &.primary {
    background: darken(@color-dark, 7%);
    color: @color-near-white;
  }

  &.error {
    background: @color-error;
    color: @color-near-white;
  }

  &.warning {
    background: @color-warning;
    color: @color-near-white;
  }

  &.info {
    background: @color-info;
    color: @color-near-white;
  }

  &.success {
    background: @color-success;
    color: @color-near-white;
  }

  &.default {
    background: @color-near-white;
    color: @color-dark;
  }
}
