@import "../../../assets/styles/space";
@import "../../../assets/styles/utils";

.horizontal-scroll-select-option {
  height: @space-large;
  display: inline-block;
  transition: @transition-fast;
  border-radius: @border-radius-lightly-round;

  &.dark-text {
    color: fade(black, 40%);
  }
  &.light-text {
    color: fade(white, 30%);
  }

  svg {
    width: 1.1rem;
  }

  span {
    text-transform: capitalize;
  }

  &.selected {
    &.dark-text {
      color: black;
    }
    &.light-text {
      color: white;
    }
    font-weight: bold;
    background: rgba(255, 255, 255, 0.35);
  }
}

