@import "../../../assets/styles/theme";
@import "../../../assets/styles/global";

.vertical-scroll-select-option {
  text-align: center;
  transition: all 0.2s linear;

  color: fade(black, 40%);

  &.selected {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
  }

  &:first-child {
    margin-top: 34px;
  }

  &:last-child {
    margin-bottom: 34px;
  }
}

