@import "../../../assets/styles/space";

.vertical-scroll-select-option {
  padding-left: 10%;
  height: @space-large;
  transition: all 0.2s linear;
  color: fade(black, 40%);

  svg {
    width: 1.1rem;
  }

  span {
    text-transform: capitalize;
  }

  &.selected {
    color: black;
    font-weight: bold;
  }

  &:first-child {
    margin-top: 2rem;
  }

  &:last-child {
    margin-bottom: 2rem;
  }

  &.nested {
    padding-left: 20%;
    font-style: italic;
    font-size: 0.95rem;
  }
}

