@import "../../assets/styles/theme";
@import "../../assets/styles/global";


.new-transaction {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column-gap: @space-wide;
  grid-row-gap: @space-medium;
  align-items: center;
  cursor: pointer;

  label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  input {
    text-align: center;
  }
}

