@import "../../assets/styles/space";
@import "../../assets/styles/theme";
@import "../../assets/styles/utils";

.tab {

}

.tab-header {
  white-space: nowrap;
  overflow-x: scroll;
  margin-top: @space-large;
  padding: @space-medium;
}

.tab-body {
  padding: @space-medium;
}

.tab-header-pane {
  display: inline-block;
  padding: @space-medium @space-large;
  cursor: pointer;

  color: @color-light;
  background: transparent;

  &.selected {
    color: white;
    background: rgba(0,0,0,0.2);
    border-radius: @border-radius-round;
  }
}
