@import "../../../assets/styles/space";
@import "../../../assets/styles/theme";
@import "../../../assets/styles/typography";
@import "../../../assets/styles/utils";

.transaction-row {
  margin: @space-medium @space-medium 0 @space-medium;
  border-radius: @border-radius-medium-round;
  background: lighten(@color-dark, 10%);
  color: @color-light;
  cursor: pointer;
  overflow: hidden;
}

.transaction-body {
  padding: @space-wide;
  display: grid;
  grid-template-areas:
    "icon cat price"
    "icon time price";
  grid-template-columns: 40px 5fr 1fr;
  align-items: center;
  row-gap: @space-medium;
  column-gap: @space-medium;

  &.expand {
    grid-template-areas:
      "icon cat price"
      "icon time price"
      ". note expect";
  }
}

.transaction-footer {
  display: flex;
  &>* {
    flex: 1
  }
}

.transaction-icon {
  grid-area: icon;
  justify-self: center;
}

.transaction-category {
  grid-area: cat;
  .sub-title();
}

.transaction-time {
  grid-area: time;
  color: white;
  font-size: 0.8rem;
}

.transaction-price {
  grid-area: price;
  column-span: 2;
  justify-self: end;
  font-size: 1.1rem;
  font-weight: bold;
  color: @color-success;
}

.transaction-note {
  grid-area: note;
}

.transaction-expect {
  grid-area: expect;
  justify-self: end;
}