@import "./theme";
@import "./typography";
@import "./global";

.-btns(@i: length(@colors)) when (@i > 0) {
  @name: extract(@colors-names, @i);
  @value: extract(@colors, @i);
  .btn-@{name} {
    & when (@name = primary) {
      background: lighten(@value, 5%);
    }
    & when not (@name = primary) {
      background: @value;
    }
    display: inline-block;
    text-align: center;
    color: white;
    cursor: pointer;
    .small();
    .sub-title();
    .padding-wide();

    &.rounded {
      border-radius: @border-radius-lightly-round;
    }
  }
  .-btns((@i - 1));
}

.-btns();