@import "./reset";
@import "./theme";
@import "./typography";
@import "./global";
@import "./buttons";

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea {
  font-size: 1rem;
  padding: @space-medium @space-wide;
  border-radius: @border-radius-lightly-round;
  font-family: "Raleway", sans-serif;
  background: lighten(@color-background, 3%);
  border: 1px solid lighten(@color-background, 6%);
}

input:focus, textarea:focus {
  background: lighten(@color-background, 6%);
  border-color: @color-warning;
}

input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

.disable-scroll {
  height: 100%;
  overflow: hidden;
}

// https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
.no-scroll-bar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.text-align-right {
  text-align: right;
}

@font-face {
  font-family: "digital-clock-font";
  src: url("../../assets/fonts/digital-7.ttf");
}