@import "../../assets/styles/theme";
@import "../../assets/styles/global";

.vertical-scroll-select {
  position: relative;
  background: @color-background;
  height: (@space-large * 6);
  overflow-y: scroll;
}